
###################### 
**/.DS_Store
**/.DS_Store?
**/Thumbs.db
Icon?
Icon\r
**/.dropbox
**/.vscode/
**/*.config

**/package-lock.json


###################### Other
**/.project
**/.cfignore

**/*.log
**/logs/**

**/node_modules/**