html
	head
		script(src='//cdn.jsdelivr.net/js-signals/1.0.0/signals.min.js')

		script(src='//code.jquery.com/jquery-3.2.1.slim.min.js')

		script(src='https://rawgit.com/puppetmaster3/smoothState.js/master/release/sP.new.js')
		//script(src='https://cdn.rawgit.com/puppetmaster3/smoothState.js/master/release/sP.new.js')

		script(src='/_js/main.js')

		title On 2
	body
		p
		a(href='/page/index1.html') 1 o
		hr
		a(href='/page/index2.html') 2 t
		p

		#ss
			p oh hi 2
			script.
				console.log('2 sc')
		footer
			p f