html
	head
		script(src='//cdn.jsdelivr.net/js-signals/1.0.0/signals.min.js')

		script(src='//code.jquery.com/jquery-3.2.1.slim.min.js')

		script(src='/_js/jquery.ss.js')

	body
		a(href='/page/index1.html') 1
		button(type='button') Click Me!

		#ss
			p oh hi 2
